body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#home {
    position: absolute;
    top: 20px;
    left: 20px;
}

.slide-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.slider {
    width: 255px;
    -webkit-appearance: none;
    border-radius: 50px;
    margin-top: 15px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 34px;
    height: 34px;
    cursor: pointer; 
    border-radius: 40px;
    border: 1px solid black;
}

#red-slider {
    background: rgb(255,0,0);
}

#green-slider {
    background: rgb(0,255,0);
}

#blue-slider {
    background: rgb(0,0,255);
}

#a-slider {
    background: rgb(255,255,255);
    border: 1px solid black;
}

.color-me {
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

