* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    height: 100vh;
    width: 100vw;
}

.circle {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
}

