* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Josh W Comeau full bleed*/
.wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(65ch, 100%)
      1fr;
  }

  .wrapper > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }


/*My own styling:*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
}

#statement {
  padding: 20px;
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 4px;
}

.peek {
  border: 1px solid black;
  height: 45%;
  width: 45%;
  margin: 4%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  border: 1px solid black;
  margin: 2%;
  border-radius: 10px;
  width: 80%;
  height: 15%;
}

.red {
  background-color: rgba(255,0,0);
}
.green {
  background-color: rgba(0,255,0);
}
.blue {
  background-color: rgba(0,0,255);
}

.on-off {
  background-color: black;
}

footer {
}